<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.TurboBoostSwitcher.helper</string>
    <key>MachServices</key>
    <dict>
        <key>com.local.TurboBoostSwitcher.helper</key>
        <true/>
    </dict>
    <key>Program</key>
    <string>/Library/PrivilegedHelperTools/com.local.TurboBoostSwitcher.helper</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/tbhelper.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/tbhelper.log</string>
</dict>
</plist>
